<ion-view hide-nav-bar="true" cache-view="false">

    <ion-header-bar class=" bar bar-header nav-bar-color headbar1">
        <button ng-click="myGoBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-ios-arrow-back"></i> </button>
        <p class="title" style="line-height:60px">Location</p>
        <!--a ng-click="centerOnMe()" class="button button-icon icon ion-android-locate" style="background: transparent; color:white;margin-top:2%;"></a-->
    </ion-header-bar>
    <ion-content scroll=false>


        <!--     <ion-content scroll="false">
<div id="map" data-tap-disabled="true"></div>
<div></div>
-->
        <!--          <div class="mapSearch" style="position: relative;top: 10%;">
<label class="item item-input searchBox">
<i class="icon ion-search placeholder-icon"></i>
<input type="text" placeholder="Search Location">
</label>
</div> -->
        <!--div class="searchspace" >
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
    </label>
</div-->
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>