
<ion-view  hide-nav-bar="true">



<ion-header-bar >
<div class=" bar bar-header nav-bar-color headbar1" >
<button ng-click="myGoBack()" class="button back-button  button-clear header-item" ><i class="icon ion-ios-arrow-back" ></i> 
<span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="previous-title hide">undefined</span></span></button>
<p class="homeTop" >Terms & Conditions</p>
</div>
</ion-header-bar>
<ion-content  style="background:white; width:90%;margin-left:5%;padding-top:11%;" >
<h3 style="color:#c50000;text-align:left;font-weight: 600">Our Terms </h3>
<p text-align=center style="color:rgb(86, 86, 86);line-height:23.5px">habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf</p>
<h3 style="color:#c50000;text-align:left;font-weight: 600">Our Conditions </h3>
<p text-align=center style="color:rgb(86, 86, 86);line-height:23.5px">
habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf  
habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf  
habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf habjab zjasjnjas jkansjnasdnasdiaid ajsdnjasnd jabsdjnajs janbsdjbajsbd  uansdjasd asjbd jdf d dfkandkfna djnf cjc  chs ccn cn nv kf vkf kf kf kr jvrnvjrnv fk fj fnekj jkd fdiufvbkjd fjf </p>
</ion-content>
</ion-view>